.Side-ber
  .Side-ber__user-name
    .Side-items
      .Side-items__name
        せい
      %ul.Side-items__icon
        = link_to "/#/", class: "Side__edit" do
          = icon('fas', 'edit', class:'icon1')
          %span<>
        = link_to "/#/", class: "Side__cog" do
          = icon('fas', 'cog', class:'icon2')
          %span<>
  .Group-list
    .Group
      .Group__name
        テスト
      .Group__message
        テスト
    .Group
      .Group__name
        テスト
      .Group__message
        テスト
        